:root {
  --prime-tex-color: #212121;
  --white-text-color: #ffffff;
  --accent-blue-color: #2196f3;
  --secondary-color: #757575;
  --white-prime-bgc: #ffffff;
  --contex-bgc-color: #2f303a;
  --secondary-bgc-color: #f5f4fa;
  --icon-color: #AFB1B8;
  --hover-part-color: #188ce8;
  --low-opacity-text: rgba(255, 255, 255, 0.6);
  --footer-icon-bgclr: rgba(255, 255, 255, 0.1);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --hover-porfolio-link: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
	--projects-bg-hover: rgba(33, 150, 243, 0.9);
	--cubic-conversion: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--prime-tex-color);
  background-color: var(--white-prime-bgc);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-----шапка-----*/

.logo-site {
  margin-right: 93px;

  color: var(--accent-blue-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-second-part {
  color: #000000;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  position: relative;
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--prime-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-conversion);
}

.site-nav-link::after {
	position: absolute;
	display: block;
	bottom: -1px;

	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--accent-blue-color);
	border-radius: 2px;

	transform: scaleX(0);
	transition: transform 250ms var(--cubic-conversion);
}

.site-nav-link:hover::after {
  transform: scaleX(1);

}

.current {
	position: relative;
}

.current::before {
	content: "";
	
  position: absolute;
	display: block;
	bottom: -1px;

	width: 100%;
	height: 4px;
	background-color: var(--accent-blue-color);
	border-radius: 2px;
}

.site-nav-link.current,
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-blue-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:first-child) {
  margin-left: 50px;
}

.contact-link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-conversion);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-blue-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*-------футер-------*/

.footer {
  padding: 60px 0;

  background-color: var(--contex-bgc-color);
}

.footer-list {
  display: inline-block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-top: 20px;
}

.footer-logo-link {
  color: var(--accent-blue-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-another-part {
  color: var(--white-text-color);
}

.footer-link-location {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--low-opacity-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.unit {
  align-items: baseline;
  display: flex;
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-socials-list {
  display: flex;
  justify-content: center;
}

.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-item:not(:first-child) {
  margin-left: 10px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-icon-bgclr);
  color: var(--white-text-color);

  transition: background-color 250ms var(--cubic-conversion);
}

.footer-socials-icon {
  fill: currentColor;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-blue-color);
}

.footer-sign {
margin-left: auto;
}

.footer-sign-title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-text-color);
}

.footer-sign-wrap {
	display: flex;
}

.footer-sign-input {
	width: 358px;
	height: 50px;

	padding: 15px 16px;

	background-color: inherit;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	outline: none;

	color: var(--white-text-color)
}

.footer-sign-button {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: 12px;

	min-width: 200px;
	height: 50px;

	background-color: var(--accent-blue-color);
	color: var(--white-text-color);
	border-radius: 4px;
	border: 1px solid transparent;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.8;
	letter-spacing: 0.06em;

	transition: background-color 250ms var(--cubic-conversion);
}

.footer-sign-icon {
	margin-left: 10px;
	fill: #ffffff;
}

.footer-sign-button:hover,
.footer-sign-button:focus {
	background-color: var(--hover-part-color);
}

/*-----портфолио-----*/

.filter-project-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-project-item:not(:first-child) {
  margin-left: 8px;
}

.react-btt {
  padding: 6px 22px;

  background-color: var(--secondary-bgc-color);
  color: var(--prime-tex-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms var(--cubic-conversion), background-color 250ms var(--cubic-conversion),
		box-shadow 250ms var(--cubic-conversion);
}

.react-btt:hover,
.react-btt:focus {
  background-color: var(--accent-blue-color);
  color: var(--white-prime-bgc);
  box-shadow: var(--hover-shadow);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.works-link {
	display: block;
	transition: box-shadow 250ms var(--cubic-conversion);
}

.works-title {
  color: var(--prime-tex-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.about-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.works-link:hover,
.works-link:focus {
  display: block;
  box-shadow: var(--hover-porfolio-link);
}

.projects-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-top-wrap {
	position: relative;
	overflow: hidden;
}

.projects-upper-text {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	padding: 63px 24px;
	color: var(--white-text-color);
	background-color: var(--projects-bg-hover);

	transform: translateY(100%);
	transition: transform 250ms var(--cubic-conversion);
}

.works-item:hover .projects-upper-text,
.works-link:focus .projects-upper-text {
	transform: translateY(0);
}

/*-----герой-----*/

.hero-section {
text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a66;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpeg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  text-transform: uppercase;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
	margin-right: auto;
	width: 696px;
}
.hero-bttn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-blue-color);
  color: var(--white-text-color);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 0.06em;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms var(--cubic-conversion);
}

.hero-bttn:hover,
.hero-bttn:focus {
  background-color: #188ce8;
}

/*-----студия-----*/

.stem-seaction {
  padding-bottom: 0;
}

.stem-list {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: -30px;
  margin-top: -30px;
}
.stem-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.stem-icon {
  margin-bottom: 30px;
  background-color: var(--secondary-bgc-color);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.stem-title {
  margin-bottom: 10px;

  color: var(--prime-tex-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.stem-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*-----чем мы занимаемся-----*/

.doing-list {
  display: flex;
}

.doing-item {
  position: relative;
}

.doing-item:not(:last-child) {
	margin-right: 30px;
}


.doing-section {
  margin-bottom: 50px;
  color: var(--prime-tex-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.doing-description {
	position: absolute;
	bottom: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 370px;
	height: 70px;

	background-color: rgba(47, 48, 58, 0.8);
	color: var(--white-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

/*-----команда-----*/

.team-section {
  background: var(--secondary-bgc-color);
}

.team-title {
  margin-bottom: 50px;

  color: var(--prime-tex-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-work-rang {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--white-prime-bgc);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-person-title {
  margin-bottom: 10px;

  color: var(--prime-tex-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-abouth {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item:not(:first-child) {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-text-color);
  color: var(--icon-color);

  transition: color 250ms var(--cubic-conversion), background-color 250ms var(--cubic-conversion);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-blue-color);
  color: var(--white-text-color);
} 

/*-----клиенты-----*/

.clients-title {
  margin-bottom: 50px;

  color: var(--prime-tex-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
}

.clients-item:not(:first-child) {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms var(--cubic-conversion), border-color 250ms var(--cubic-conversion);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-blue-color);
  border-color: var(--accent-blue-color);
}

/*-----модалка-----*/

.hero-backdrop {
	position: fixed;
	z-index: 1;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--backdrop-bg);
	transition: opacity 800ms var(--cubic-conversion), visibility 800ms var(--cubic-conversion);
}

.hero-modal {
	position: absolute;
  text-align: center;
	top: 50%;
	left: 50%;

	width: 528px;
	height: 581px;
  padding: 40px;

	background-color: var(--white-prime-bgc);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: scale(1) translate(-50%, -50%);
}

.hero-modal-title {
	display: block;
	margin-bottom: 12px;
  text-align: center;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	color: var(--prime-tex-color)
}

.hero-form-wrap {
	margin-bottom: 20px;
}

.hero-modal-wrap {
	position: relative;

	display: flex;
	flex-direction: column;
}

.hero-modal-wrap:not(:last-child) {
	margin-bottom: 10px;
}

.hero-modal-label {
	display: block;
	text-align: left;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--secondary-color);
}

.hero-modal-input {
	padding: 0;
	margin: 0;

	padding-left: 42px;

	width: 100%;
	height: 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
	transition: border-color 250ms var(--cubic-conversion);
}

.hero-input-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transition: fill 250ms var(--cubic-conversion);
}

.hero-modal-textarea {
	width: 100%;
	height: 120px;

	padding: 12px 16px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	outline: none;
	transition: border-color 250ms var(--cubic-conversion);
}

.hero-modal-input:focus,
.hero-modal-textarea:focus {
	border-color: var(--accent-blue-color);
}

.hero-modal-input:focus + .hero-input-icon {
	fill: var(--accent-blue-color);
}

.hero-modal-textarea::placeholder {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.hero-modal-policy {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	margin-bottom: 30px;
}

.modal-policy {
	display: flex;
	align-items: center;

  margin-right: 0px;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}

.modal-policy .policy-icon {
	display: flex;
	align-items: center;

	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 2px;
	margin-right: 8px;
}

.policy-icon-check {
	fill: #ffffff;
}

.modal-policy-check:checked + .modal-policy .policy-icon {
	background-color: var(--accent-blue-color);
	border: none;
	transition: background-color 250ms var(--cubic-conversion);
}

.modal-link {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-decoration-skip-ink: none;
	color: var(--accent-blue-color);
}

.hero-modal-submit {
	padding: 10px 55px;
	min-width: 200px;

	background-color: var(--accent-blue-color);
	color: var(--white-text-color);
	border-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.8;
	letter-spacing: 0.06em;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms var(--cubic-conversion),box-shadow 250ms var(--cubic-conversion);
}

.hero-modal-submit:hover,
.hero-modal-submit:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color: var(--hover-part-color);
}

.hero-modal-close {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;

	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	color: var(--accent-blue-color);
	transition: fill 250ms var(--cubic-conversion);
}

.hero-modal-close:hover,
.hero-modal-close:focus {
	fill: currentColor;
}


.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
